* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #f5f7ff;
    color: #222;
}

.top-bar{
    background: linear-gradient(135deg, #6a5cff, #b56cff);
    color: white;
    padding: 30px;
    text-align: center;
}

.dashboard{
    max-width: 1100ppx;
    margin: 30px auto;
    padding: 20px;
    display: grid;
    gap: 30px;
}

.card{
    background: white;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.profile h2{
    margin-bottom: 10px;
}

.skills{
    margin-top:10px;
}

.skills span {
  display: inline-block;
  background: #e6e9ff;
  color: #4b4bff;
  padding: 8px 14px;
  border-radius: 20px;
  margin: 5px;
  font-size: 14px;
}

.peers h2 {
  margin-bottom: 20px;
}

.peer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.peer-card {
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box shadow 0.3s;
}

.peer-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.peer-card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 12px;
  border: 4px solid #6a5cff;
}

.peer-card h3 {
  margin-bottom: 5px;
}

.peer-card p {
  font-size: 14px;
  margin-bottom: 15px;
}

.peer-card button {
  background: linear-gradient(135deg, #6a5cff, #b56cff);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

.peer-card button:hover {
  opacity: 0.9;
}