body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: #4285F4;
  color: white;
  padding: 50px;
}

.btn {
  background: white;
  color: #4285F4;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.box {
  background: white;
  padding: 30px;
  width: 300px;
  margin: 100px auto;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background: #4285F4;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  width: 200px;
}
